$primary_color: #63c132;
$primary_color_dark: #2a9000;
$primary_color_light: #97f464;

@use "@material/theme" with (
  $primary: #63c132,
  //$primary: #20c5c0,
  $secondary: #20c5c0,
  $background: #fff,
);
//includes for appbar
@use '@material/icon-button';
@use "@material/top-app-bar/mdc-top-app-bar";
//includes navdrawer
@use "@material/drawer";
@use "@material/list";
//text area
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

//includes tabbar
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";


//include icon font
$material-design-icons-font-directory-path: 'material-design-icons-iconfont/dist/fonts/'; 
@import 'material-design-icons-iconfont/src/material-design-icons';

//include chickenfont
@font-face {
  font-family: "ChickenQuiche";
  src: url(assets/Chicken_Quiche.ttf) format("truetype");
}

@import './HomePage.scss';
@import './leaflet.css';

//appbar
@include icon-button.core-styles;

//drawer
@include drawer.core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;

//text area
@include textfield.core-styles;

html,
body {
  height: 100%;
  margin: 0;
}
.algolia-search{
  border-style: none;
  font-family: sans-serif;
  background-color: #00000000;
  border-radius: 20px;
}
.algolia-container{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  background-color: #e2f3d9ce;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #63c132;
  z-index: 10;
  padding: 5px;
}
.algolia-container:hover{
  background-color: #d5e6cddc;
}
.algolia-search:focus{
  background-color: #d5e6cddc;
}


.mdc-drawer{
  z-index: 20;
}
.mdc-drawer-scrim{
  z-index: 19;
}

.mdc-top-app-bar__title { 
  font-family: "ChickenQuiche";
  font-size: 30px;
}
.find_snapp-list{
  margin-top: 75px;
}
.find_snapp_body--hidden {
  display: none;
}

#mapid { 
  height: 600px;
  z-index: 1;
}




